<div>
  <ul class="weekdays">
    <li *ngFor='let day of daysOfTheWeek'>{{day | uppercase}}</li>
  </ul>
  <li *ngFor='let in of counter(5)' class="day other-month"></li>
  <li *ngFor='let in2 of counter(31); let i = index;' class="day">
    <div class="date">{{i + 1}}</div>
    <ng-container *ngFor="let reminder of remindersArray"> 
      <event 
        *ngIf='reminder.day == i + 1' 
        [startTime]='reminder.startTime'
        [endTime]='reminder.endTime'
        [city]='reminder.city'
        [description]='reminder.description'
        [color]='reminder.color'
        [day]='reminder.day'
        [_id]='reminder._id'
      ></event>	
    </ng-container>
  </li>
  <li *ngFor='let in3 of counter(6)' class="day other-month"></li>
</div>