.functionalities-wrapper {
  display: flex;
  flex-direction: row;
  padding: 16px 0px;
  width: 100%;
}

.clima-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.clima-title {
  margin-right: 8px;
}

.reminder-button {
  cursor: pointer;
  border: none;
  color: #0f4c75;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 16px;

  &:disabled {
    color: gray;
  }
}

.title-input-container {
  display: flex;
  flex-direction: row;
  height: 24px;
  align-items: center;
}

.description-container {
  height: 48px;
}

.clima-info {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

p {
  padding-left: 4px;
  margin-right: 16px;
  font-size: medium;
}

input {
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100px;
  margin-left: auto;
}

textarea {
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100px;
  margin-left: auto;
  resize: vertical;
  min-height: 24px;
  max-height: 48px;
}

.right {
  margin-left: auto;
}

.last-input {
  width: 103px;
}

@media (max-width: 768px) {
  .functionalities-wrapper {
    display: none;
  }
}
